Source: fatcat
Maintainer: Grégoire Passault <g.passault@gmail.com>
Section: utils
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8), cmake
Homepage: https://github.com/Gregwar/fatcat
Vcs-Browser: https://www.github.com/Gregwar/fatcat
Vcs-Git: git://github.com/Gregwar/fatcat.git

Package: fatcat
Architecture: any
Depends: ${shlibs:Depends}, ${utils:Depends}, ${misc:Depends}
Description: FAT filesystemm explore, extract, repair, and forensic tool
 fatcat is a tool to explore, extract, repair and forensic FAT filesystem.
 Its features:
     - Get information about FAT filesystem;
     - Explore FAT file system;
     - Read file or extract directories;
     - Retrieve file & directories that are deleted;
     - Backup & restore the FAT tables;
     - Hack the FAT table by writing on it;
     - Hack the entries by changing clusters and file sizes;
     - Perform a search for orphaned files & directories;
     - Compare and merge the FAT tables;
     - Repair unallocated directories &  files
     - Supports FAT12, FAT16 and FAT32
